@CHARSET "ISO-8859-1";
body{	
	background-image:url(../images/body.jpg); 
	background-repeat: repeat;
}
#welcome{
	padding-top: 10px;
	font-size: 28px;
	color: white;
	
}
#banner{
	margin-top: 0px;
	height: 150px;
	width: 900px;	
}
#content_service_index{
	font-size:18px;
	
	width: 900px;
	background-image:url(../images/content_service_index.jpg); 
	background-repeat: repeat;
	color: white;
	bottom: 0px;
}

.button{
	width: 100px;
}
.link{
	color: white;
}
td{
	background-image:url(../images/content_service_index.jpg); 
	background-repeat: repeat;
}
#service_tabs td{
	font-size: 16px;
	font-weight: bold;
}
#service_tabs a{
	color: white;
}
#profile_table{
	
	 }
#profile_table td{
	height: 20px;
	font-size: 18px;
	
	color: white;
}